.general-container-header {
  margin-bottom: 10px;
}

.info-top-header {
  background-color: #00525c;
  padding: 0 20px;
  height: 50px;
}

.content-top-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
}

.info-top-header p {
  color: #ffffff;
  font-size: 24px;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.menu ul {
  display: flex;
  padding: 0;
  margin-left: 50px;
}

.menu ul li {
  list-style: none;
  margin-right: 15px;
}

.menu ul li a {
  text-decoration: none;
  color: #000000;
  transition: color 1s;
  font-size: 1.6rem;
}

.d-contact-none{
  display: none;
}

.menu ul li a:hover {
  color: #00525c;
  border-bottom: 1px solid #00525c;
}
.mobile-menu-icon {
  display: none;
  cursor: pointer;
  font-size: 30px;
  color: #a7a7a7;
}

.menu-item-contact{
  text-transform: uppercase;
  background-color: #00525c;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.2rem;
}

@media screen and (max-width: 1240px) {
  .logo{
    width: 100px;
  }
  .menu {
    display: none;
  }

  .d-contact-none{
    display: block !important;
  }

  .mobile-menu-icon {
    display: block;
    margin-left: auto;
  }

  .mobile-menu-open {
    display: block;
    position: absolute;
    top: 150px;
    right: 40px;
    background-color: #00525c;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
  }

  .mobile-menu-open ul {
    flex-direction: column;
    padding: 15px !important;
    padding-left: 0 !important;
  }

  .mobile-menu-open li {
    margin-bottom: 10px;
  }

  .mobile-menu-open a {
    color: #fff !important;
    font-size: 20px !important;
  }

  .mobile-menu-open a:hover{
    color: #E0E0E0 !important;
  }

  .menu-item-contact{
    display: none;
  }
}
