.infos-content{
    background-color: #00525c;
    padding: 40px 0;
}

.info-address{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 15px 0;
}
.info-address p {
    font-size: 24px;
    color: #fff;
}