.banner {
  width: 100%;
  background: url("../../assets/banner-principal.jpg");
  background-size: 100%; /* Use cover para ajustar a imagem de fundo */
  background-repeat: no-repeat;
}


@media screen and (min-width: 1920px) {
  .banner {
    height: 830px;
  }
}

@media screen and (min-width: 969px) and (max-width: 1300px) {
  .banner {
    height: 42vh;
  }
}

@media screen and (min-width: 1301px) and (max-width: 1620px) {
  .banner {
    height: 530px;
  }
}

@media screen and (min-width: 1621px) and (max-width: 1920px) {
  .banner {
    height: 610px;
  }
}

@media screen and (min-width: 767px) and (max-width: 968px) {
  .banner {
    height: 300px;
  }
}

@media screen and (max-width: 767px) {
  .banner {
    height: 170px;
  }
}
